<table class="table-padding fit-content info-table">
  <tr>
    <td class="bold-400 medium-emphasis">Patientenname / Patient name</td>
    <td class="bold-700 info-color">{{lunge.patientName}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Dienstleistung / Category of Consultation</td>
    <td class="bold-700 info-color">{{lunge.consultationCategory}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Dienst / Service</td>
    <td class="bold-700 info-color">{{lunge.serviceName}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Terminort / Location</td>
    <td class="bold-700 info-color">{{lunge.location}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Datum / Date</td>
    <td class="bold-700 info-color">{{lunge.appointmentDate}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Terminfenster / Time</td>
    <td class="bold-700 info-color">{{lunge.appointmentTime}}</td>
  </tr>
</table>