---
layout: lunge.hbs
subject: Event Invitation
---
<span class="preheader">You have been invited to an event.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Dear <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">You have been invited to an event with the following details:
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text">
      Du wurdest zu einer Sitzung mit folgenden Angaben eingeladen:
    </td>
  </tr>
</table>
<table class="table-padding fit-content info-table">
  <tr>
    <td class="bold-400 medium-emphasis">Event name / Sitzungsname</td>
    <td class="bold-700 info-color">{{lunge.eventName}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Category / Thema</td>
    <td class="bold-700 info-color">{{lunge.eventCategory}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Date / Datum</td>
    <td class="bold-700 info-color">{{lunge.eventDate}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Time / Terminfenster</td>
    <td class="bold-700 info-color">{{lunge.appointmentTime}}</td>
  </tr>
</table>