---
layout: lunge.hbs
subject: Event Cancelled
---
<span class="preheader">An event you were invited to was cancelled.</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Dear <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500 pt-16 justify-text">The event with the following details has been cancelled:
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text">Die Veranstaltung mit folgenden Details wurde abgesagt:
    </td>
  </tr>
</table>
<table class="table-padding fit-content info-table">
  <tr>
    <td class="bold-400 medium-emphasis">Event name / Sitzungsname</td>
    <td class="bold-700 info-color">{{lunge.eventName}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Category / Thema</td>
    <td class="bold-700 info-color">{{lunge.eventCategory}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Date / Datum</td>
    <td class="bold-700 info-color">{{lunge.eventDate}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Time / Terminfenster</td>
    <td class="bold-700 info-color">{{lunge.appointmentTime}}</td>
  </tr>
</table>