---
layout: lunge.hbs
subject: Generic
---
<span class="preheader">{{lunge.generalTemplateSubject}}</span>
<table class="table-padding ">
  <tr ><h1 class="align-center">{{lunge.generalTemplateSubject}}</h1></tr>
</table>
<table class="table-padding default-font-size fit-content">
  <tr >
    <td> {{lunge.generalTemplateBody1}}</td>
  </tr>
  <tr>
    <td>{{lunge.generalTemplateBody2}}</td>
  </tr>
  <tr>
    <td>{{lunge.generalTemplateBody3}}</td>
  </tr>
  <tr>
    <td><a  href="{{lunge.generalTemplateBodyLink}}">{{lunge.generalTemplateBodyLink}}</a></td>
  </tr>
</table>