---
layout: lunge.hbs
subject: Password reset
---
<span class="preheader">Appointment Reminder</span>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500">Dear <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>
  <tr>
    <td class="bold-500">Grüezi <span class="bold-700">{{lunge.name}}</span>,</td>
  </tr>

  <tr>
    <td class="bold-500 pt-16 justify-text">
      We would like to remind you that you have an appointment scheduled with us with the following details: </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text">
      Wir möchten Sie an den folgenden Termin erinnern, den Sie mit uns vereinbart haben:
  </tr>
</table>
<table class="table-padding fit-content info-table">
  <tr>
    <td class="bold-400 medium-emphasis">Patient name / Angaben gestellt</td>
    <td class="bold-700 info-color">{{lunge.patientName}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Category of Consultation / Dienstleistung</td>
    <td class="bold-700 info-color">{{lunge.consultationCategory}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Service / Dienst</td>
    <td class="bold-700 info-color">{{lunge.serviceName}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Location / Terminort</td>
    <td class="bold-700 info-color">{{lunge.location}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Date / Datum</td>
    <td class="bold-700 info-color">{{lunge.appointmentDate}}</td>
  </tr>
  <tr>
    <td class="bold-400 medium-emphasis">Time / Terminfenster</td>
    <td class="bold-700 info-color">{{lunge.appointmentTime}}</td>
  </tr>
</table>
<table class="table-padding default-font-size">
  <tr>
    <td class="bold-500 justify-text">
      If you need to reschedule, you can click the <span class="bold-700">Reschedule Appointment</span> button below
      to select a new date and time.
    </td>
  </tr>
  <tr>
    <td class="bold-500 justify-text">
      Wenn Sie den Termin verschieben müssen, können Sie unten auf die Schaltfläche <span class="bold-700">Termin verschieben</span> klicken, um ein
      neues Datum und eine neue Uhrzeit auszuwählen. </td>
  </tr>
</table>
<table class="table-padding shrunk-font-size fit-content align-center">
  <tr class="action-buttons no-wrap-text align-center">
    <td> {{> button type='secondary' url=lunge.rescheduleLink title='Reschedule Appointment <br/>Termin verschieben'}}</td>
  </tr>
</table>